PORT=5000

DB_PORT=3306

DB_HOST=localhost

DB_USER=REPLACE_WITH_DB_USER

DB_PASSWORD=REPLACE_WITH_DB_PASSWORD

DB_NAME=movie_recommender

JWT_SECRET=REPLACE_WITH_JWT_SECRET

TMDB_API_KEY=REPLACE_WITH_TMDB_API_KEY
