*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#111;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#000;
}

.logo{
font-size:28px;
font-weight:bold;
color:#ff3c3c;
}

.navbar ul{
display:flex;
list-style:none;
gap:30px;
}

.navbar a{
text-decoration:none;
color:white;
}

.active{
color:#ff3c3c;
}

.about{
text-align:center;
padding:70px 80px;
}

.about h1{
font-size:45px;
margin-bottom:20px;
}

.about p{
max-width:900px;
margin:auto;
line-height:1.8;
font-size:18px;
color:#ccc;
}

.features{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
padding:40px 80px;
}

.feature{
background:#1d1d1d;
padding:35px;
border-radius:15px;
text-align:center;
transition:.3s;
}

.feature:hover{
transform:translateY(-10px);
}

.feature i{
font-size:45px;
color:#ff3c3c;
margin-bottom:20px;
}

.tech{
padding:70px;
text-align:center;
}

.tech-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-top:35px;
}

.tech-grid div{
background:#1d1d1d;
padding:20px;
border-radius:10px;
font-weight:bold;
}

footer{
text-align:center;
padding:25px;
background:#000;
margin-top:60px;
}