.details-container{

width:90%;
margin:50px auto;

display:flex;
gap:50px;

}

.poster img{

width:350px;
border-radius:15px;

}

.details{

flex:1;
color:white;

}

.details h1{

font-size:45px;
margin-bottom:20px;

}

.details p{

margin:15px 0;
font-size:18px;

}

.watch-btn,.save-btn{

padding:15px 30px;
border:none;
margin-right:20px;
margin-top:25px;
border-radius:8px;
cursor:pointer;
font-size:18px;

}

.watch-btn{

background:#e50914;
color:white;

}

.save-btn{

background:#333;
color:white;

}