.watchlist{

width:90%;
margin:40px auto;

}

.watchlist h1{

margin-bottom:30px;
color:white;

}

.movie-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

}

.card{

background:#1f1f1f;

border-radius:10px;

overflow:hidden;

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.card img{

width:100%;
height:340px;

object-fit:cover;

}

.card-content{

padding:15px;

}

.card-content h3{

color:white;

margin-bottom:10px;

}

.card-content p{

color:#bbb;

margin-bottom:10px;

}

.remove-btn{

width:100%;

padding:10px;

border:none;

background:#e50914;

color:white;

cursor:pointer;

border-radius:5px;

}